<section class="menu">

  <ul class="short">
    <li><a href="#"><i class="fas fa-umbrella-beach"></i><span>Frente a la playa</span></a></li>
    <li><a href="#"><i class="fas fa-igloo"></i></a><span>Casas domo</span></li>

    <li><a href="#"><i class="fas fa-swimming-pool"></i><span>Piscinas increibles</span></a></li>
    <li><a href="#"><i class="fas fa-tree"></i></a><span>Islas</span></li>
    <li><a href="#"><i class="fas fa-fire-alt"></i></a><span>Populares</span></li>
  </ul>

</section>
<section class="search-box">
  <p>En cualquier lugar del mundo</p>
  <span></span>
  <p>Por semanas</p>
  <span></span>
  <p>¿Cuantos?</p>
  <i class="fas fa-search"></i>
</section>

<section id="gallery">
  <h1>Top 5</h1>
  <div>
    <img src="/assets/casa6.webp" alt="">
    <p>Casa en la casa</p>
    <span>$180.000</span>
  </div>
  <div>
    <img src="../../../../assets/casa7.webp" alt="">
    <p>Casa en la casa</p>
    <span>$180.000</span>
  </div>
  <div>
    <img src="../../../../assets/playa.webp" alt="">
    <p>Casa en la casa</p>
    <span>$180.000</span>
  </div>
  <div>
    <img src="../../../../assets/playa2.webp" alt="">
    <p>Casa en la casa</p>
    <span>$180.000</span>
  </div>
  <div>
    <img src="../../../../assets/casa5.webp" alt="">
    <p>Casa en la casa</p>
    <span>$180.000</span>
  </div>


</section>

<section id="gallery">
  <h1>Otras propiedades</h1>
  <div>
    <img src="../../../../assets/casa1.webp" alt="">
    <p>Casa en la casa</p>
    <span>$180.000</span>
  </div>
  <div>
    <img src="../../../../assets/casa2.webp" alt="">
    <p>Casa en la casa</p>
    <span>$180.000</span>
  </div>
  <div>
    <img src="../../../../assets/playa.webp" alt="">
    <p>Casa en la casa</p>
    <span>$180.000</span>
  </div>
  <div>
    <img src="../../../../assets/casa3.webp" alt="">
    <p>Casa en la casa</p>
    <span>$180.000</span>
  </div>
  <div>
    <img src="../../../../assets/casa4.webp" alt="">
    <p>Casa en la casa</p>
    <span>$180.000</span>
  </div>


</section>