<header>

  <nav>
    <ul>
      <li><img src="../../../../assets/Aircncv.png" alt=""></li>
      @if(this.userService.user()){

      <li><a [routerLink]="['/profile']">Mi Perfil</a></li>


      @if (this.userService.user()?.owner){
      <li><a [routerLink]="['/real-state']">Gestionar propiedades</a></li>
      }@else{
      <li><a href="/html/buscar-propiedades.html">Buscar</a></li>
      <li><a href="/html/mis-reservas.html">Mis Reservas</a></li>
      <li><a href="/html/notificaciones.html">Buscar propiedades</a></li>
      }

      }
    </ul>

    @if(this.userService.user() != null){

    <div>
      <div class="profile-user">
        <img [src]='this.supabase.image(this.userService.user()?.photo)' alt="">
        <p id="userName">{{this.userService.user()?.userName}}</p>
      </div>

      <li><a (click)="logOut()">Cerrar sesión</a></li>

    </div>
    }@else {
    <div>
      <li><a [routerLink]="['/login']">Iniciar sesión</a></li>
    </div>
    }
  </nav>
</header>