@if(this.userService.user() != null){

<div class="profile-container">
  <img class="user-photo" [src]="supabase.URL + this.userService.user()?.profilePicture" alt="User Photo" />

  <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="form">
    <h2>Editar perfil</h2>

    <div class="form-group">
      <label for="userName">Username</label>
      <input id="userName" formControlName="username" type="text" />
      @if(userForm.get('username')?.invalid && userForm.get('username')?.touched){
      <div class="error">
        Nomber de usuario debe ser de almenos 3 caracteres
      </div>
      }
    </div>

    <div class="form-group">
      <label for="photo">Foto</label>
      <input id="photo" (change)="onChange($event)" type="file" accept="image/*" />
    </div>

    <div class="form-group">
      <label for="bio">Bio</label>
      <textarea id="bio" formControlName="bio"></textarea>
    </div>

    <div class="form-actions">
      <button type="submit" class="btn-submit">Guardar</button>
      <button type="button" (click)="resetForm()" class="btn-reset">Restablecer</button>
    </div>
  </form>

</div>
}