<div class="login-box">
  <h2>Registrate</h2>

  <form [formGroup]="signUpForm" (submit)="$event.preventDefault(); onRegister()">
      <input
        id="userName" 
        type="text" 
        formControlName="userName"
        placeholder="Usuario" 
        class="input-login"
       />
       @if (signUpForm.get('userName')?.invalid && signUpForm.get('userName')?.touched) {

        @if(signUpForm.get('userName')?.hasError('required')){
          <small >Usuario es obligatoria.</small>
        }
        @if(signUpForm.get('userName')?.hasError('minlength') || signUpForm.get('userName')?.hasError('maxlength')) {
  
          <small >Debe tener al menos 8 y 15 caracteres.</small>
        }
        @if(signUpForm.get('userName')?.hasError('pattern')){
          <small >sin espacio y no iniciar en Car o num.</small>
        }
  
   
      }
    
      <!-- <label for="">Email</label> -->
      <input 
        id="email" 
        type="email" 
        formControlName="email"
        placeholder="email" 
        class="input-login" 
      />
    
      <!-- <label>Contraseña</label> -->
      <input 
        id="password" 
        type="password" 
        formControlName="password"
        placeholder="Contraseña"    
        class="input-login"
      />
      @if (signUpForm.get('password')?.invalid && signUpForm.get('password')?.touched) {
        @if(signUpForm.get('password')?.hasError('required')){
          <small >Contraseña es obligatoria.</small>
        }

        @if(signUpForm.get('password')?.hasError('minlength') || signUpForm.get('password')?.hasError('maxlength')){
          <small >Debe tener al menos 12 y 20 caracteres.</small>
        }
        @if(signUpForm.get('password')?.hasError('pattern')){
          <small >Debe contener 1May 1Min 1num y Car.</small>
        }

  }

      
      <!-- <label>Reescribir Contraseña</label> -->
      <input 
        id="retypePassword" 
        type="password"  
       formControlName="retypePassword"
        placeholder="Validar Contraseña" 
        class="input-login"/>

      <label  for="tipo">Selecciona el tipo:</label>
      <select id="tipo" name="tipo" formControlName="owner" class="tipo">
        <option selected value="">Normal</option>
        <option value=true >Propietario</option>
      </select>

      <input type="submit" hidden>


  </form>

  <a (click)="onRegister()" class="primary"><i>Registrarme</i></a>

  <a [routerLink]="['/login']" class="secondary"> <i>Regresar</i></a>
    
</div>

