@if(!addSelect() && !editSelect()){
<label class="btn-add" (click)="toggleAddFormSignal()"><i class="fas fa-plus-circle"></i>Agregar</label>
}


<div class="property-list-container">
  @if(!addSelect() && !editSelect()){


  }@else{
    <!-- Formulario para agregar propiedad -->
    <form [formGroup]="addPropertyForm">
    <h2>Mis Propiedades</h2>
    <!-- <h4>Agregar Propiedad</h4> -->
    <div class="form-group">
      <label for="title">Nombre</label>
      <input type="text" id="title" formControlName="title" placeholder="Enter property title" class="form-control" />
    </div>

    <div class="form-group">
      <label for="price">Precio</label>
      <input type="number" id="price" formControlName="price" placeholder="Enter property price" class="form-control" />
    </div>

    <div class="form-group">
      <label for="location">Ubicación</label>
      <input type="text" id="location" formControlName="location" placeholder="Enter property location"
        class="form-control" />
    </div>

    <div class="form-group">
      <label for="image">Imagen</label>
      <input type="file" id="image" (change)="onFileSelected($event)" required />
    </div>

    <div class="form-group">
      <label for="description">Descripción</label>
      <textarea style="resize: none;" id="description" formControlName="description"
        placeholder="Enter property description" class="form-control"></textarea>
    </div>

    <label style="font-weight: 800; background-color: #f9f9f9 ; padding: 7px; border-radius: 10px 10px 0 0;" >Categorías</label>
    <div class="form-group">


      @for(category of CATEGORIES;track category){
      <section class="categories">
        <input type="checkbox" [value]="category" [id]="category" [checked]="editingProperty?.categories?.includes(category)" />
        <label [for]="category">{{ category.toLowerCase() }}</label>
      </section>
      }

    </div>
    @if(!addSelect()){
    <button class="btn btn-submit" (click)="onSubmitEdit()">Guardar</button>
    <button type="submit" (click)="toggleEditFormSignal()" class="btn btn-delete">Cancelar</button>
    }
    @if(!editSelect()) {
    <button class="btn btn-submit" (click)="onAddProperty()">Agregar</button>
    <button type="submit" (click)="toggleAddFormSignal()" class="btn btn-delete">Cancelar</button>
    }
  </form>
  }

  <!-- [disabled]="addPropertyForm.invalid" -->


  <!-- Lista de propiedades con Signal -->
  @if(!addSelect() && !editSelect()){
  @for(property of propertiesSignal(); track property.id! ){




  <div class="property-item">
    <div class="property-image-container">
      @if(property.imageUrl) {
      <img [src]="this.supabase.image(property.id)" alt="Property Image" class="property-image" />
      }
    </div>

    <div class="property-info">
      <h3>{{ property.title }}</h3>
      <p>{{ property.description }}</p>
      <p>Precio: {{ property.price | currency:'USD':'symbol':'1.0-0' }}</p>
      <p>Ubicación: {{ property.location }}</p>

      <div class="property-actions">
        <button class="btn btn-edit" (click)="onEditProperty(property)"><i class="fas fa-pen-square"></i></button>
        <button class="btn btn-delete" (click)="onDeleteProperty(property.id!)"><i
            class="fas fa-trash-alt"></i></button>
      </div>
    </div>
  </div>

  <!-- "onEditProperty(property)" -->



  <!-- @if(editingProperty && editingProperty.id === property.id){

      <div>
        <form [formGroup]="editPropertyForm" (ngSubmit)="onSubmitEdit()">
          <input type="text" formControlName="title" placeholder="Enter new title" />
          <input type="text" formControlName="description" placeholder="Enter new description" />
          <input type="number" formControlName="price" placeholder="Enter new price" />
          <input type="text" formControlName="location" placeholder="Enter new location" />
        </form>
      </div>
      } -->

  }
  }
</div>