<!-- <div class="perfil-container">
  <h2>Perfil de Usuario</h2>

  Muestra la imagen de perfil
  <img *ngIf="imagen" [src]="imagen" alt="Imagen de perfil" class="perfil-imagen"> -->

  <!-- Formulario para editar los datos del perfil -->
<!--   <form [formGroup]="perfilForm" (ngSubmit)="guardarCambios()">
    <label for="usuario">Usuario:</label>
    <input id="usuario" formControlName="usuario" required>

    <label for="imagen">URL de la Imagen:</label>
    <input id="imagen" formControlName="imagen">

    <label for="biografia">Biografía:</label>
    <textarea id="biografia" formControlName="biografia"></textarea>

    <button type="submit">Guardar Cambios</button>
  </form>
</div> -->
