footer{
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #343034;
  border:solid 3px #343034;
  /* color: white; */
}

footer p {
  text-align: center;
  color: #fff;
}
footer ul {
  text-align: center;
}

.social-icons{
  list-style-type: none;
  padding: 0;
}
.social-icons li {
  display:inline;
  margin: 0 10px;
}

.social-icons li a{
  color: #fff;
  font-size: 24px;
  text-decoration: none;
}