<section class="menu">

  <ul class="short">
    <li><a><i class="fas fa-umbrella-beach"></i><span>Frente a la
          playa</span></a></li>
    <li><a><i class="fas fa-igloo"></i></a><span>Casas domo</span>
    </li>
    <li><a><i class="fas fa-swimming-pool"></i><span>Piscinas
          increibles</span></a></li>
    <li><a><i class="fas fa-tree"></i></a><span>Apartamento</span>
    </li>
    <li><a><i class="fas fa-fire-alt"></i></a><span>Populares</span></li>
  </ul>

</section>
<section class="search-box">
  <input (input)="setFilter($event)" type="text" placeholder="En cualquier lugar del mundo">
  <span></span>
  <p>Por semanas</p>
  <span></span>
  <p>¿Cuantos?</p>
  <i class="fas fa-search"></i>
</section>

<section id="gallery">
  <h1>Top 5</h1>

  @for(property of propertyService.realState(); track property.realStateId){
  @if(inFilter(property)){

  <div [routerLink]="['/real-state/'+property.realStateId]">
    <img [src]="supabase.URL + property.imageUrl" alt="">
    <div>

      <p>{{property.title}}</p>
      <p>{{property.description}}</p>
      <span>{{propertyService.formatPrice(property.price)}}</span>
    </div>
  </div>
  }
  }



</section>

<section id="gallery">
  <h1>Otras propiedades</h1>

  @for(property of propertyService.realStateT5(); track property.realStateId){
  @if(inFilter(property)){

  <div [routerLink]="['/real-state/'+property.realStateId]">
    <img [src]="supabase.URL + property.imageUrl" alt="">
    <div>

      <p>{{property.title}}</p>
      <p>{{property.description}}</p>
      <span>{{propertyService.formatPrice(property.price)}}</span>
    </div>
  </div>
  }
  }
</section>